.button {
  background-color: rgb(7, 112, 168);
  color: white;
  border: none;
  border-radius: 40px;
  padding: 1rem 2rem;
  cursor: pointer;

  font-weight: 700;
  font-size: 1.6rem;
  line-height: 100%;
}
